### Fabbrica gitignore
## Creation : 23/05/2017
## Modified : 01/09/2017

### Project specific
/tmp/*
/fonts/pkgs

### JetBrains template

/.idea
/*.iml

/script/addresses.txt

### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Grav CMS tmp, logs, cache folders
/htdocs/cache/*
!/htdocs/cache/.gitkeep
/htdocs/logs/*
!/htdocs/logs/.gitkeep
/htdocs/tmp/*
!/htdocs/tmp/.gitkeep
/htdocs/assets/*
!/htdocs/assets/.gitkeep
/htdocs/images/*
!/htdocs/images/.gitkeep
#/htdocs/user/data/*
#!/htdocs/user/data/.gitkeep

#/htdocs/composer.lock
